.pinned-post {
    grid-area: pin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    list-style: none;
    padding: 10px;
}

.pinned-post h2 {
    text-align: center;
    font-family: Florence, cursive;
    font-size: 25px;
}

.thumbnail-img {
    width: 280px;
    height: 250px;
}

.pinned-post-list {
    margin-top: 0px;
}