h2{
    font-family: Florence, cursive;
    font-size: 25px;
}

h3{
    font-family: Florence, cursive;
    font-size: 20px; 
}

h4{
    font-family: Florence, cursive;
    font-size: 18px; 
}

p{
    font-family: Florence, cursive;
    font-size: 18px; 
    margin-left: 10px;
}

article {
    font-family: Florence, cursive;
}